@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'helvetica', Times, serif;
}
body {


  

}

button{
  background-color: rgb(70, 70, 70) ;
}


.main-card{
  background: linear-gradient(150deg, rgb(27, 27, 27) 50%, rgba(20, 20, 20, 0.956) 100%);
}

.card{
  background: linear-gradient(150deg, rgb(35, 35, 35) 40%, rgba(29, 29, 29, 0.175) 100%);

}


.box-l{
  background: linear-gradient(90deg, rgb(2, 19, 53) 8%, rgb(2, 32, 90)39%, rgba(5, 46, 123, 0.896) 60%, rgb(59, 130, 246) 100%);


}

.box-r{

 

  background: linear-gradient(270deg, rgb(2, 19, 53) 8%, rgb(2, 32, 90)39%, rgba(5, 46, 123, 0.896) 60%, rgb(59, 130, 246) 100%);
}
