@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'helvetica', Times, serif;
}
body {


  

}

button{
  background-color: rgba(96, 96, 96, 0.828) ;
  color: #201c1c;
}


.main-card{
  background: #201c1c;

}

.card{
  background: rgb(35, 35, 35);
  border: 1px solid rgba(108, 97, 97, 0.209) ;
  
  box-shadow:inset 0px 5px 0px -10px rgb(231, 231, 231);
  

}


.box-l{
  background: linear-gradient(90deg, rgb(2, 19, 53) 8%, rgb(2, 32, 90)39%, rgba(5, 46, 123, 0.896) 60%, rgb(59, 130, 246) 100%);


}

.box-r{

 

  background: linear-gradient(270deg, rgb(2, 19, 53) 8%, rgb(2, 32, 90)39%, rgba(5, 46, 123, 0.896) 60%, rgb(59, 130, 246) 100%);
}
